.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.light {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
}

.red{
    background-color: red
}

.yellow{
    background-color: yellow
}
.green{
    background-color: green
}
.gray{
    background-color: gray
}